<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js">
<head>
<title>Message from the BitShares Delegate Tools Dev Team</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<link rel="shortcut icon" href="../eps/images/favicon.ico"/>
<link rel="stylesheet" href="/static/css/doge404_reset.css"/>
<link rel="stylesheet" href="/static/css/doge404_style.css"/>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'/>
<body>
<div id="all-container">
<div id="main">
<div class="container">
<div class="image-container404">
<img src="/static/images/404-thisisdog.jpg">
</div>
<div class="arrow_box-left-big float-left" style="margin-left:100px;">Hello?</div>
<div class="arrow_box-left-big right float-right" style="margin-right:100px;"> No, this is not the page you are looking for, this is Doge. Such sorry! Why this happen? Never 404 again!</div>
<div class="clearfix"></div>
<div style="text-align:center">
<h2 class="message404">Error <span>404</span> - page not found, sorry! Doge says try again.</h2>
<p style="color:#E87338; padding-top:10px;">BitShares Delegate Tools Dev Team Management</p>
</div>
</div>
</div>
</div>
</body>
</html>

