include *.rst
include *.md
exclude __*.md
global-exclude .DS_Store
include bts_tools/version.txt
include bts_tools/config.yaml
include bts_tools/slate.yaml
recursive-include bts_tools/static *
recursive-include bts_tools/templates *
