<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}BTS Client{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/bootstrap.3.1.1.min.css">
    <link rel="stylesheet" href="/static/css/jquery.dataTables.1.10RC1.css">
    <link rel="stylesheet" href="/static/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/static/css/application.css">
    {% block stylesheet %}{% endblock %}
</head>

{% macro green_if_true(cond) -%}
    {% if cond %}
        <div class="btn btn-xs btn-success">{{ cond }}</div>
    {% else %}
        <div class="btn btn-xs btn-danger">{{ cond }}</div>
    {% endif %}
{%- endmacro %}

<body>

<div id="wrap">
    {% include 'layouts/header.html' %}
    <div class="container">

        <div class="well well-sm" style="padding: 3px;">
            <table class="table table-hover" style="margin-top: 0 !important; margin-bottom: 0 !important;">
            <thead><tr>
                <th>Type</th>
                <th>Host</th>
                <th>Hosted nodes</th>
                <th>Status</th>
                <th>Block head</th>
                <th>Wallet open</th>
                <th>Wallet unlocked</th>
                <th>Block production enabled</th>
            </tr></thead>
            <tbody>
            {% for host, node_names, node in rpc.client_instances() %}
                <tr>
                    <td>
                    {% set node_type = node.bts_type() %}
                    {% if node_type %}
                        {% if node.is_online() %}
                            <div class="btn btn-xs btn-success">
                        {% else %}
                            <div class="btn btn-xs btn-danger">
                        {% endif %}
                                {{ node.bts_type() }}
                            </div>
                    {% endif %}
                    </td>
                    <td>{{ host }}</td>
                    <td>{{ node_names|join(', ') }}</td>
                    {% if node.is_online() %}
                        <td>
                            <div class="btn btn-xs btn-success">online</div>
                        </td>
                        <td>
                        {% if node.is_synced() %}
                            <div class="btn btn-xs btn-success">
                        {% else %}
                            <div class="btn btn-xs btn-info">
                        {% endif %}
                                {{ node.get_info()['blockchain_head_block_num'] }}
                            </div>
                        </td>

                        {% set info = node.get_info() %}
                        <td>{{ green_if_true(info['wallet_open']) }}</td>
                        <td>{{ green_if_true(info['wallet_unlocked']) }}</td>
                        <td>{{ green_if_true(info['wallet_block_production_enabled']) }}</td>

                    {% else %}
                        <td><div class="btn btn-xs btn-danger">{{ node.status() }}</div></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody></table>
        </div>

        {% block content %}
        {% endblock %}
    </div>
    <div id="push"></div>
</div>

{% include 'layouts/footer.html' %}

<!-- NOTE: most (all) JS should go at the end of the document for better page loading performance -->

<!-- NOTE: we may need to move this higher up (in the <head> section) if needed -->
<script src="/static/js/jquery.1.10.2.min.js"></script>
<script src="/static/js/bootstrap.3.1.1.min.js"></script>
<script src="/static/js/underscore.js"></script>

<script src="/static/js/jquery.dataTables.1.10RC1.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>

{% block scripts %}{% endblock %}

</body>
</html>
