{% extends "tableview.html" %}

{################################ HTML CONTENT ################################}
{% block content %}

<pre>
<b>Price feeds:</b>  published: {{pfeeds['USD']}} <b>USD</b> {{pfeeds['BTC']}} <b>BTC</b> {{pfeeds['CNY']}} <b>CNY</b>       <b>Last update:</b> {{last_update | datetime}}
       last hour median: {{mfeeds['USD']}} <b>USD</b> {{mfeeds['BTC']}} <b>BTC</b> {{mfeeds['CNY']}} <b>CNY</b>
                 latest: {{feeds['USD']}} <b>USD</b> {{feeds['BTC']}} <b>BTC</b> {{feeds['CNY']}} <b>CNY</b>
</pre>

{{ super() }}

{% endblock %}
