{% extends "tableview.html" %}

{################################ HTML CONTENT ################################}
{% block content %}

{% if rpc.main_node.type == 'delegate' and rpc.main_node.bts_type() == 'bts' %}
<pre>
<b>Price feeds:</b>  published: {{pfeeds['USD']}} <b>USD</b> {{pfeeds['BTC']}} <b>BTC</b> {{pfeeds['CNY']}} <b>CNY</b> {{pfeeds['GOLD']}} <b>GOLD</b> {{pfeeds['EUR']}} <b>EUR</b>      <b>Last update:</b> {% if last_update %}{{last_update | datetime}}{% else %}N/A{% endif %}
       last hour median: {{mfeeds['USD']}} <b>USD</b> {{mfeeds['BTC']}} <b>BTC</b> {{mfeeds['CNY']}} <b>CNY</b> {{mfeeds['GOLD']}} <b>GOLD</b> {{mfeeds['EUR']}} <b>EUR</b>
                 latest: {{feeds['USD']}} <b>USD</b> {{feeds['BTC']}} <b>BTC</b> {{feeds['CNY']}} <b>CNY</b> {{feeds['GOLD']}} <b>GOLD</b> {{feeds['EUR']}} <b>EUR</b>
</pre>
{% endif %}

{{ super() }}

{% endblock %}
