{% extends "layouts/base.html" %}

{% block title %}{{ title }}{% endblock %}

{################################ HTML CONTENT ################################}
{% block content %}

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tableview">
        {% if headers %}
            <thead><tr>
            {% for h in headers %}
                <th>{{ h }}</th>
            {% endfor %}
            </tr></thead>

            <tfoot><tr>
            {% for h in headers %}
                <th>{{ h }}</th>
            {% endfor %}
            </tr></tfoot>
        {% endif %}

        <tbody>
        {% for fields in data %}
            <tr>
            {% for f in fields %}
                <td>
                    {% if attrs and loop.index in attrs.get('bold', []) %}
                        <b>{{ f }}</b>
                    {% else %}
                        {{ f }}
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}



{################################# JAVASCRIPT #################################}
{% block scripts %}
<script type="text/javascript">

$(function() {
    $("#tableview").DataTable({
        "sorting": {{ (order or '[[ 1, "desc" ], [ 0, "asc" ]]') | safe }},
        "displayLength": 10
    });
});

</script>
{% endblock %}
