{% extends "layouts/base.html" %}

{% block title %}{{ title }}{% endblock %}

{################################ HTML CONTENT ################################}
{% block content %}

{% set proc = rpc.main_node.process() %}
<p>Monitoring <b>{{ rpc.main_node.witness_host or rpc.main_node.rpc_host }}:{{ rpc.main_node.witness_port or rpc.main_node.rpc_port }}</b>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    {% if proc %}
        PID: <b>{{ proc.pid }}</b>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Client invocation: <b>{{ proc.cmdline() | hide_private_key }}</b>
    {% else %}
        <b>offline</b>
    {% endif %}
</p>

<div id="cpu_plot" style="width: 100%; height: 200px;"></div>
<div id="connections_plot" style="width: 96%; margin: 0; left: 32px; height: 200px;"></div>
{% endblock %}



{################################# JAVASCRIPT #################################}
{% block scripts %}
<script src="/static/js/jquery.flot.0.8.3.min.js"></script>
<script src="/static/js/jquery.flot.time.0.8.3.min.js"></script>

<script type="text/javascript">

var cpu_total = [{% for pt in gpoints %}[{{ pt[0]}}, {{ pt[1] }}], {% endfor %}];
var cpu = [{% for pt in points %}[{{ pt[0]}}, {{ pt[1] }}], {% endfor %}];
var mem = [{% for pt in points %}[{{ pt[0]}}, {{ pt[2] }}], {% endfor %}];
var conn = [{% for pt in points %}[{{ pt[0]}}, {{ pt[3] }}], {% endfor %}];

$.plot("#cpu_plot", [{data: cpu_total, color: "rgb(255,241,210)", shadowSize: 0, lines: {fill: true}},
                     {data: cpu, label: "CPU %", lines: {fill: true}},
                     {data: mem, label: "Memory (MB)", yaxis: 2}], {
    xaxes: [{mode: "time", timezone: "browser", lines: { fill: true } }],
    yaxes: [{min: 0, /*max: 100,*/ position: "right", tickFormatter: function(v, axis) { return v + " %" }},
            {min: 0, position: "left", tickFormatter: function(v, axis) { return v + " MB" }}],
});

$.plot("#connections_plot", [{data: conn, label: "Number of connections"}], {
    xaxis: { mode: "time", timezone: "browser" },
    yaxis: { min: 0, minTickSize: 1 },
    legend: { position: "se" }
});

</script>
{% endblock %}
