{% extends "layouts/base.html" %}

{% block title %}{{ title }}{% endblock %}

{################################ HTML CONTENT ################################}
{% macro make_table(data, attrs, headers, title='') -%}
    <h3 align="center">{{ title }}</h3>

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tableview">
        {% if headers %}
            <thead><tr>
            {% for h in headers %}
                <th>{{ h }}</th>
            {% endfor %}
            </tr></thead>

            <tfoot><tr>
            {% for h in headers %}
                <th>{{ h }}</th>
            {% endfor %}
            </tr></tfoot>
        {% endif %}

        <tbody>
        {% for fields in data %}
            {% set field = loop %}
            <tr>
            {%- for f in fields -%}
                {% if attrs and (field.index-1, loop.index-1) in attrs.get('green', []) -%}
                <td style="background-color: limegreen">
                {% elif attrs and (field.index-1, loop.index-1) in attrs.get('red', []) %}
                <td style="background-color: red;">
                {% elif attrs and (field.index-1, loop.index-1) in attrs.get('orange', []) %}
                <td style="background-color: orange;">
                {% elif attrs and (field.index-1, loop.index-1) in attrs.get('blue', []) %}
                <td style="background-color: lightskyblue;">
                {% else %}
                <td>
                {%- endif -%}
                    {%- if attrs and (field.index-1, loop.index-1) in attrs.get('bold', []) -%}
                        <b>{{ f }}</b>
                    {%- elif attrs and (field.index-1, loop.index-1) in attrs.get('datetime', []) -%}
                        {{ f | datetime }}
                    {%- else -%}
                        {{ f | safe }}
                    {%- endif -%}
                </td>
            {%- endfor %}
            </tr>
        {% endfor %}
        </tbody>

    </table>
{%- endmacro %}


{% block content %}

{{ make_table(data, attrs, headers, title) }}

{% if data2 %}
{{ make_table(data2, attrs2, headers2, title2) }}
{% endif %}

{% endblock %}



{################################# JAVASCRIPT #################################}
{% block scripts %}
<script type="text/javascript">

$(function() {
    $("#tableview").DataTable({
        "ordering": {{ 'true' if sortable else 'false' }},
        "sorting": {{ (order or '[[ 1, "desc" ], [ 0, "asc" ]]') | safe }},
        "displayLength": {{ nrows or 10 }}
    });
});

</script>
{% endblock %}
