<div class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">BTS tools</a>
		</div>

        <div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
                <li {% if request.path == '/status' %}class="active"{% endif %}><a href="/status">Status</a></li>
                <li {% if request.path == '/info' %}class="active"{% endif %}><a href="/info">Info</a></li>
                <li {% if request.path == '/delegates' %}class="active"{% endif %}><a href="/delegates">Delegates</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">RPC Host: {{ rpc.main_node.host }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for node in rpc.nodes %}
                        <li><a href="/rpchost/{{ node.host }}">{{ node.host }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">
                    <div class="btn btn-xs btn-info">{{ core.config['env']['active'] }}: {{ monitor.binary_description() }}</div>
                </a></li>

                <li><a href="#"><b>Delegate name: </b> {{ core.delegate_name()}}</a></li>
                {% if rpc.main_node.is_online() %}
                    <li><a href="#">
                        <b>Blocks:</b>
                        {% set producing, n = rpc.main_node.get_streak() %}
                        {% if n >= 0 %}
                            {% if producing %}
                                <div class="btn btn-xs btn-success">Last {{ n }} produced</div>
                            {% else %}
                                <div class="btn btn-xs btn-danger">Last {{ n }} missed </div>
                            {% endif %}
                        {% else %}
                            <div class="btn btn-xs btn-danger">NO DATA / ERROR</div>
                        {% endif %}
                    </a></li>
                {% endif %}
            </ul>

        </div><!-- /.navbar-collapse -->
	</div>
</div>
